:root {
  --primary-color: #333;
  --primary-color-dark: hsla(0, 0%, 0%, 0.2);
  --secondary-color: ;
  --color-light: hsla(0, 0%, 100%, 0.694);
  --color-white: #fff;
  --font-small: 0.8rem;
  --font-medium: 1.5rem;
  --font-large: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-columns: 1fr 6fr; /* Single column layout */
  grid-template-rows: auto 1fr; /* Auto-sized rows */
  grid-template-areas:
    "aside header"
    "aside main";
  height: 100vh; /* Example: set container height to 100% of viewport height */
}

header {
  grid-area: header; /* Assign the header to the grid area named 'header' */
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
}

aside {
  grid-area: aside; /* Assign the aside to the grid area named 'aside' */
  background-color: var(--primary-color);
}

/* STYLES FOR MAIN */

main {
  grid-area: main; /* Assign the main to the grid area named 'main' */
  padding: 20px;
  background-color: var(--primary-color);
  border: 1px solid var(--color-light);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "todo done urgent";
  height: 100%;
}

.todo {
  grid-area: todo;
  border-right: 1px solid var(--color-light);
  color: var(--color-light);
}

.done {
  grid-area: done;
  border-right: 1px solid var(--color-light);
  color: var(--color-light);
}

.urgent {
  grid-area: urgent;
  color: var(--color-light);
}

/* STYLING NAVBAR */

.navbar {
  padding-right: 20px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: var(--color-light);
  font-weight: bold;
  font-size: var(--font-medium);
}

.nav-items a:hover {
  color: var(--color-white);
}

/* ASIDE NAVIGATION */

.aside-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-nav-list-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding-left: 0;
}

.aside-nav-list-items li {
  padding: 10px 0;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.aside-nav-list-items a {
  color: var(--color-light);
  text-decoration: none;
  font-size: var(--font-medium);
}

.aside-nav-list-items li:hover {
  background-color: var(--primary-color-dark);
  /* color: var(--color-white); */
}

/* TODO */

.main-container h2 {
  text-align: center;
  text-decoration: underline;
}

.todo-info {
  margin-top: 2rem;
}
