:root {
  --primary-color: #333;
  --secondary-color: ;
  --color-light: hsla(0, 0%, 100%, 0.694);
  --color-white: #fff;
  --font-small: 0.8rem;
  --font-medium: 1.5rem;
  --font-large: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr; /* Single column layout */
  grid-template-rows: auto 1fr; /* Auto-sized rows */
  grid-template-areas:
    "aside header"
    "aside main";
  height: 100vh; /* Example: set container height to 100% of viewport height */
}

header {
  grid-area: header; /* Assign the header to the grid area named 'header' */
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
}

aside {
  grid-area: aside; /* Assign the aside to the grid area named 'aside' */
  background-color: var(--primary-color);
  padding: 20px;
}

/* STYLES FOR MAIN */

main {
  grid-area: main; /* Assign the main to the grid area named 'main' */
  padding: 20px;
  background-color: var(--primary-color);
  border: 1px solid var(--color-light);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "todo done urgent";
  height: 100%;
}

.main-container h3 {
  text-decoration: underline;
}

.todo {
  grid-area: todo;
  border-right: 1px solid var(--color-light);
  display: flex;
  justify-content: center;
  color: var(--color-light);
}

.done {
  grid-area: done;
  border-right: 1px solid var(--color-light);
  display: flex;
  justify-content: center;
  color: var(--color-light);
}

.urgent {
  grid-area: urgent;
  display: flex;
  justify-content: center;
  color: var(--color-light);
}

/* STYLING NAVBAR */

.navbar {
  padding-right: 20px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: var(--color-light);
  font-weight: bold;
  font-size: var(--font-medium);
}

.nav-items a:hover {
  color: var(--color-white);
}
